@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');


:root{
    --primary-color: red;
}
* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

::selection{
    background: var(--primary-color);
    color:#242121;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}


html::-webkit-scrollbar{
    width: 2rem;
}


html::-webkit-scrollbar-track{
    background: #242121;
}

html::-webkit-scrollbar-thumb{
    background: var(--primary-color);
}

body{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width:35rem;
    background: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    overflow-x: hidden;
    padding-bottom: 4rem
}

header.profile.img{
    height:18rem;
    width:18rem;
    border-radius: 50%;
    object-fit: justify;
    margin-bottom: 1rem;
    border: .7rem solid var(--primary-color);
}

header.profile .myname{
    font-size: 3.5rem;
    color:#fff;
}

header.profile .myjob{
    font-size: 2.5rem;
    color:#eee;
    font-weight: 300;
}

